# Calculate Returns

![returns_chart.png](returns_chart_720_358.png)

Using the formula $ \frac{p_{t} - p_{t-1}}{p_{t-1}} $, let's apply it to some example prices. For this exercise, we'll calculate the returns for each day using the closing price data in `close`.

In [1]:
import pandas as pd

close = pd.DataFrame(
    {
        'ABC': [1, 5, 3, 6, 2],
        'EFG': [12, 51, 43, 56, 22],
        'XYZ': [35, 36, 36, 36, 37],},
    pd.date_range('10/01/2018', periods=5, freq='D'))
close

            ABC  EFG  XYZ
2018-10-01    1   12   35
2018-10-02    5   51   36
2018-10-03    3   43   36
2018-10-04    6   56   36
2018-10-05    2   22   37

Using the returns formula on the closing prices for the ticker "ABC" should give us `[(5-1)/1, (3-5)/5, (6-3)/3, (2-6)/6]` or `[4, -0.4, 1, -0.66]`. To calculate this for the whole DataFrame, we'll use the [DataFrame.shift](https://pandas.pydata.org/pandas-docs/version/0.21/generated/pandas.DataFrame.shift.html) function.

This function allows us to shift the rows of data. For example, the following shifts the rows in `close` two days back.

In [2]:
close.shift(2)

            ABC   EFG   XYZ
2018-10-01  NaN   NaN   NaN
2018-10-02  NaN   NaN   NaN
2018-10-03  1.0  12.0  35.0
2018-10-04  5.0  51.0  36.0
2018-10-05  3.0  43.0  36.0

The data for the row "2018-10-03" contains data that is two days in the past. You'll also notice the "NaN" values for "2018-10-01" and "2018-10-02". Since there's not data two days in the past for these dates, it returns a "NaN" value.

Use this function, you can also shift in the future using a negative number. Let's shift one day in the future.

In [3]:
close.shift(-1)

            ABC   EFG   XYZ
2018-10-01  5.0  51.0  36.0
2018-10-02  3.0  43.0  36.0
2018-10-03  6.0  56.0  36.0
2018-10-04  2.0  22.0  37.0
2018-10-05  NaN   NaN   NaN

## Quiz
Using what you know about the [DataFrame.shift](https://pandas.pydata.org/pandas-docs/version/0.21/generated/pandas.DataFrame.shift.html) function, implement the function.

Once you successfully implemented the quiz, you can can continue to the next concept in the classroom.

In [12]:
import quiz_tests


def calculate_returns(close):
    """
    Compute returns for each ticker and date in close.
    
    Parameters
    ----------
    close : DataFrame
        Close prices for each ticker and date
    
    Returns
    -------
    returns : DataFrame
        Returns for each ticker and date
    """
    # TODO: Implement Function
    print(close)
    print(close.shift(1))
    print(close - close.shift(1))
    print((close - close.shift(1)) / close.shift(1))
    return (close - close.shift(1)) / close.shift(1)


quiz_tests.test_calculate_returns(calculate_returns)

                   YGZN         HJC           GCY          ZHG        NRSV
2015-09-07  21.05081048 17.01384381   10.98450376  11.24809343 12.96171273
2015-09-08  15.63570259 14.69054309   11.35302769 475.74195118 11.95964043
2015-09-09 482.34539247 35.20258059 3516.54167823  66.40531433 13.50396048
2015-09-10  10.91893302 17.90864387   24.80126542  12.48895419 10.52435923
2015-09-11  10.67597197 12.74940144   11.80525758  21.53903949 19.99766037
2015-09-12  11.54549538 23.98146843   24.97476306  36.03196210 14.30433232
                   YGZN         HJC           GCY          ZHG        NRSV
2015-09-07          nan         nan           nan          nan         nan
2015-09-08  21.05081048 17.01384381   10.98450376  11.24809343 12.96171273
2015-09-09  15.63570259 14.69054309   11.35302769 475.74195118 11.95964043
2015-09-10 482.34539247 35.20258059 3516.54167823  66.40531433 13.50396048
2015-09-11  10.91893302 17.90864387   24.80126542  12.48895419 10.52435923
2015-09-12  10.67597197 12.74940144   11.80525758  21.53903949 19.99766037
                    YGZN          HJC            GCY           ZHG        NRSV
2015-09-07           nan          nan            nan           nan         nan
2015-09-08   -5.41510790  -2.32330072     0.36852393  464.49385775 -1.00207231
2015-09-09  466.70968989  20.51203750  3505.18865054 -409.33663685  1.54432005
2015-09-10 -471.42645946 -17.29393672 -3491.74041281  -53.91636014 -2.97960125
2015-09-11   -0.24296105  -5.15924243   -12.99600784    9.05008530  9.47330113
2015-09-12    0.86952341  11.23206700    13.16950548   14.49292261 -5.69332805
                  YGZN         HJC          GCY         ZHG        NRSV
2015-09-07         nan         nan          nan         nan         nan
2015-09-08 -0.25723988 -0.13655355   0.03354944 41.29534136 -0.07731018
2015-09-09 29.84897463  1.39627496 308.74483411 -0.86041737  0.12912763
2015-09-10 -0.97736283 -0.49126900  -0.99294726 -0.81192839 -0.22064647
2015-09-11 -0.02225135 -0.28808672  -0.52400584  0.72464717  0.90013092
2015-09-12  0.08144677  0.88098779   1.11556274  0.67286764 -0.28469971
Tests Passed

## Quiz Solution
If you're having trouble, you can check out the quiz solution [here](calculate_returns_solution.ipynb).